<template name="Game">
  <div id="dice1">
    {{dice1Stake}}
    <button id="button1">+1</button> 
    <button id="button5">+5</button> 
    <button id="button10">+10</button> 
  </div>
  <div id="dice2">
    {{dice2Stake}}
    <button id="button1">+1</button> 
    <button id="button5">+5</button> 
    <button id="button10">+10</button> 
  </div>
  <div id="dice3">
    {{dice3Stake}}
    <button id="button1">+1</button> 
    <button id="button5">+5</button> 
    <button id="button10">+10</button> 
  </div>
  <div id="dice4">
    {{dice4Stake}}
    <button id="button1">+1</button> 
    <button id="button5">+5</button> 
    <button id="button10">+10</button> 
  </div>
  <div id="dice5">
    {{dice5Stake}}
    <button id="button1">+1</button> 
    <button id="button5">+5</button> 
    <button id="button10">+10</button> 
  </div>
  <div id="dice6">
    {{dice6Stake}}
    <button id="button1">+1</button> 
    <button id="button5">+5</button> 
    <button id="button10">+10</button> 
  </div>
  <br>
  <div>Game Balance: {{gameBalance}}</div>
  <div>Total Balance: {{balance}}</div>
  {{findGame}}
</template>
